.dark-mode {
  background-color: #222;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.center-text {
  text-align: center;
}

.dark-mode-icon,
.light-mode-icon {
  width: 200px;
  height: 200px;
}

.dark-mode .name {
  color: red;
}

.light-mode .name {
  color: blue;
}

/* Desktop Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Mobile Styles */
@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul li a {
    padding: 10px;
  }

  section {
    padding: 10px;
  }

  footer {
    padding: 5px;
  }
}
